/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
body {
  /* font-family: Montserrat; */
  font-size: 14px;
  color: #000;
  background-color: #f4f4f4;
}
/* ------------------ */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* ------------------ */

/* header */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  padding: 0 30px;
}
.header__container {
  display: flex;
  min-height: 79px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo:after {
  content: "v 2.01";
  background-color: #ff6600;
  width: 37px;
  height: 17px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  position: absolute;
  top: 12px;
}

.header__exit {
  padding: 10px;
  border-radius: 8px;
}

.header__exit:hover {
  background-color: #172139;
}

/* main */

.main {
  padding: 0 15px;
  flex: 1 1 auto;
}

.main__container {
  padding-top: 109px;
  position: relative;
  display: flex;
}

/* aside */

.aside {
  background-color: #fff;
  margin-right: 30px;
}
.aside__list {
  width: 100%;
}
.aside__item {
  width: 100%;
  padding: 20px 15px;
}

.aside__text {
  margin-left: 16px;
}

.aside__item:hover {
  background-color: #172139;
  border-radius: 8px;
}
.aside__item:hover > * {
  color: #f4f4f4;
}

.aside__link {
  display: inline-flex;
  align-items: center;

  color: #172139;
}

.aside.close {
  width: 45px;
}

.aside.close .aside__text {
  display: none;
}

.aside__toggle {
  display: flex;
  align-items: center;
  color: #ff6600;
  padding: 20px 15px 20px 70px;
  cursor: pointer;
}

.aside__toggle span {
  margin-left: 14.5px;
}
.aside.close .aside__toggle {
  transform: rotate(180deg);
  padding-left: 20px;
}

.aside.close .aside__toggle:hover {
  background-color: #172139;
  border-radius: 8px;
}

.aside.close .aside__toggle span {
  opacity: 0;
}

/* section-locations */

.locations {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.locations__content {
}

.locations__title {
  font-size: 32px;
  font-weight: 700;
}
.locations__buttons {
  margin-top: 25px;
  display: flex;
  gap: 19px;
}
.locations__button {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding: 9.5px 30px;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  color: #172139;
}

.active,
.locations__button:hover {
  background-color: #172139;
  color: #fff;
}

.locations__button--create {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding: 9.5px 30px;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  color: #172139;
  margin-top: 31px;
  max-width: 286px;
  display: inline-block;
  font-size: 14px;
  background-color: #172139;
  color: #fff;
}

.locations__button--create img {
  margin-right: 10px;
}

.treeview ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.treeview li {
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
}

.treeview .treeview__toggle {
  cursor: pointer;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  background-color: #ff6600;
  text-align: center;

  border-radius: 50%;
  font-size: 18px;
  width: 20px;
  height: 20px;
}

.treeview__text {
  padding: 20px;
  position: relative;
}

.treeview__text:before {
  content: "";
  background: no-repeat url("../img/locations/dots.svg");
  width: 4px;
  height: 16px;
  display: block;
  position: absolute;
  left: 0;
  top: 35%;
}

.treeview .treeview__toggle-down {
  content: "-";
  font-size: 18px;
}

.treeview .treeview__value {
  color: #ff6b00;
  margin-left: 10px;
  font-size: 18px;
}

.treeview .treeview__info,
.treeview .treeview__barcode {
  display: inline-block;
  font-size: 16px;
  color: #000;
  margin-left: 26px;
}

.treeview .treeview__nested {
  display: none;
  margin-left: 20px;
}

.treeview .treeview--active {
  display: block;
}

.treeview .treeview__edit {
  display: inline-flex;
  cursor: pointer;

  align-items: center;
  margin-left: 30px;
  gap: 5px;
  color: #ff6600;
}
.treeview .treeview__delete {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  margin-left: 20px;
  gap: 5px;
  color: #ff5959;
}

.treeview__tools {
  display: none;
}

.treeview .treeview__tools--active {
  display: inline-flex;
}
/* locations__sync */

.locations__sync {
  position: relative;
}

.sync__button {
  max-width: 336px;
  display: block;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding: 15px 18.5px;
  outline: none;
  border-radius: 5px;
  background-color: #172139;
  color: #fff;
  position: absolute;
  right: 0;
}

.sync__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.sync__inner {
  margin-top: 75px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.sync__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sync__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

.sync__container input:checked ~ .sync__checkmark {
  background-color: #ff6600;
}

.sync__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sync__container input:checked ~ .sync__checkmark:after {
  display: block;
}

.sync__container .sync__checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sync__search {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  background: url("../img/locations/search.svg");
  background-position: 15px 17px;
  background-repeat: no-repeat;
  padding: 15px 20px 15px 40px;
  background-size: 13.43px;
  max-width: 300px;
}
/* footer */

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
.footer__container {
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  display: inline-block;
}

.footer__text:not(:last-child) {
  margin-right: 30px;
}

.footer__doc {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  color: #ff6600;
}
/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  max-width: 440px;

  padding: 20px;
  border: 1px solid #888;
  margin: 200px auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 440px;
  width: 100%;

  margin: 0 auto;
}

.create-form__inner {
  max-width: 360px;
}

.create-form__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #000;
  margin-bottom: 17px;
}

.create-form__input {
  width: 360px;
  background-color: #f5f5f5;
  padding: 17px;
  margin-bottom: 17px;
}

.create-form__input::placeholder {
  color: #aeaeae;
}
.custom-select {
  position: relative;
  font-family: Arial;
  width: 360px;
  margin-bottom: 17px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #f5f5f5;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #ff6600 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ff6600 transparent;
  top: 16px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #aeaeae;
  padding: 17px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #f5f5f5;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* toggle */

.toggle-switch {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 28px;
  margin: 10px;
}

.toggle-switch__checkbox {
  display: none;
}

.toggle-switch__label {
  display: block;
  cursor: pointer;
  background-color: #efefef;
  border-radius: 34px;
  height: 100%;
  width: 100%;
  transition: background-color 0.2s;
}

.toggle-switch__inner {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  transition: transform 0.2s;
  margin: 2px;
}

.toggle-switch__checkbox:checked + .toggle-switch__label {
  background-color: #efefef;
}

.toggle-switch__checkbox:checked + .toggle-switch__label .toggle-switch__inner {
  transform: translateX(24px);
  background-color: #ff6600;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-form__buttons {
  display: flex;
  margin-bottom: 25px;
}

.create-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding: 15px 18.5px;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.create-form__button--contained {
  background-color: #172139;
  color: #fff;
}

.create-form__button--outlined {
  border: 1px solid;
  border-color: #172139;
}

.create-form__button img {
  margin-right: 10px;
}

.create-form__button:not(:last-child) {
  margin-right: 16px;
}
